*, *::after, *::before { box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

button {
    border-radius: 12px;
    border: 0px solid #000;
}

a {
    text-decoration: none;
    color: black;
}

