@import "colors.css";
@import "base.css";

body {
    background-color: var(--bg-primary);
    color: var(--bg-secundary);
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
}

.title {
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 900;
    display: flex;
    align-items: baseline;
    margin-bottom: 0;
}

p{
    margin-top: 0;
    align-self: flex-end;
}

span {
    font-weight: 700;
    font-size: 0.8em;
    margin-left: 0.2rem;
}

article {
    display: flex;
    justify-content: space-evenly;
}

section {
    width: 22em;
    height: 34em;
    text-align: center;
    background-color: var(--bg-secundary);
    color: var(--bg-primary);
    border-radius: 5%;
    transition: all 0.16s;
}

section:hover {
    width: 22.8em;
    height: 34.8em;
    font-size: 1.010rem;
}

.service {
    width: 100%;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
}

.contact {
    border: 1px solid red;
    width: 100%;
    display: flex;
}

.contact > a > div {
    border: 3px solid var(--bg-secundary);
    border-radius: 2em;
    width: 30%;
    height: 6vh;
    color: var(--bg-secundary);
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 1.6em;
    transition: all 0.16s;
}

.contact > a > div .whatsapp-icon {
    filter: brightness(0) saturate(100%) invert(32%) sepia(94%) saturate(1749%) hue-rotate(327deg) brightness(92%);
    width: 20%;
    margin-right: 0.6em;
}

.contact > a > div:hover {
    background-color: var(--bg-secundary);
    color: var(--bg-primary);
}

.contact > a > div:hover .whatsapp-icon {
    filter: brightness(0) saturate(100%) invert(12%) sepia(62%) saturate(940%) hue-rotate(194deg) brightness(85%);
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > p > a {
    color: var(--bg-secundary);
    transition: all 0.16s;
}

footer > p > a:hover {
    color: #f3f3f3;
}