@import "colors.css";
@import "base.css";

body {
    background-color: var(--bg-primary);
    color: var(--bg-secundary);
}

header {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 900;
    display: flex;
    align-items: baseline;
    margin-bottom: 0;
}

p{
    margin-top: 0;
    align-self: flex-end;
}

span {
    font-weight: 700;
    font-size: 0.8em;
    margin-left: 0.2rem;
}

.contact {
    border: 1px solid black;
    width: 30em;
}

article {
    display: flex;
    justify-content: space-evenly;
}

section {
    width: 22em;
    height: 34em;
    text-align: center;
    background-color: var(--bg-secundary);
    color: var(--bg-primary);
    border-radius: 4%;
}

.card-one > h1 {
    
}

.service {
    width: 100%;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
}

