@import url("base.css");
@import url("button.css");

/* Body */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
header > h1 {
    font-weight: 900;
    margin-bottom: 0;
}

span {
    font-weight: 400;
    font-size: 1.6rem;
}

header > h2 {
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 0;
    text-align: end;
}

.container {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
}

/* buttons */

.sup {
    display: flex;
    width: ;
}